<h1> Sign up here <h1>

<form action= "/users" method="post" accept-charset="UTF-8">

    <label for="username">Username:</label><br>
    <input id="username" name="username" type="text" />

    <label for="email">email:</label>
    <input id="email" name="email" type="text"/>

    <label for="password">Password:</label>
    <input id="password" name="password" type="text" />
</form>